[
    {kernel, []},
    {sasl, [
        {sasl_error_logger, false},
        {errlog_type, error},
        {error_logger_mf_dir, "../logs"},
        {error_logger_mf_maxbytes, 0},
        {error_logger_mf_maxfiles, 1}
        ]
    },
    {windmill, [
        {http_send_cycle, 60},                                              %% http请求一次数据周期(秒)
        {http_url, "http://115.28.144.211:8080/jtest.php"},                 %% Url 地址

        {mysql_host, "127.0.0.1"},                                          %% mysql数据库地址
        {mysql_port, 3306},                                                 %% mysql数据库端口
        {mysql_username, "root"},                                           %% mysql数据库用户名
        {mysql_password, "root"},                                           %% -----------密码
        {mysql_database, "user_base"},                                      %% -----------数据库名
        {mysql_table, "user"},                                              %% -----------表名
        {mysql_table_field, "id,value"},                                    %% -----------表名.字段 逗号隔开     字符串
        {mysql_table_key_range, [
            {10, 20, 3},
            {20, 34,23},
            {213,123,213}
        ]},                                                                 %% 分配数据范围 {cid1::20, cid3::35, pager::100}
        {mysql_log_table, "user_log"},                                      %% -----------数据变化日志表
        {mysql_log_field, "id,value,PType"}                                 %% -----------日志表.字段 逗号隔开     字符串
        ]
    }
].
