[
    {kernel, []},
    {sasl, [
        {sasl_error_logger, false},
        {errlog_type, error},
        {error_logger_mf_dir, "../logs"},
        {error_logger_mf_maxbytes, 0},
        {error_logger_mf_maxfiles, 1}
        ]
    },
    {windmill, [
        {worker_process, 10000},                                            %% 工作进程数量

        {http_send_cycle, 60},                                              %% http请求一次数据周期(秒)
        {http_url_prefix, {
            "http://115.28.144.211:8080/jtest.php?functionId=getCat&body=%7B%22catelogyIdLevel1%22%3A%22{",
            "}%22%2C%22stock%22%3A%221%22%2C%22pagesize%22%3A%2210%22%2C%22catelogyId%22%3A%22{",
            "}%22%2C%22page%22%3A%22{",
            "}%22%2C%22cid%22%3A%22{",
            "}%22%7D"
        }},                                                                 %% Url 片段

        {mysql_per_write, 200000},                                          %% 单次更新数据库数量
        {mysql_write_cycle, 30},                                            %% 更新数据库周期
        {mysql_host, "127.0.0.1"},                                          %% mysql数据库地址
        {mysql_port, 3306},                                                 %% mysql数据库端口
        {mysql_username, "root"},                                           %% mysql数据库用户名
        {mysql_password, "root"},                                           %% -----------密码
        {mysql_database, "user_base"},                                      %% -----------数据库名
        {mysql_table, "user"},                                              %% -----------表名
        {mysql_table_key_range, [
            {"10","20","200"},
            {"30","40","100"}
        ]},                                                                 %% 分配数据范围 {cid1::20, cid3::35, pager::100}
        {mysql_table_field, "id,value,cid1,cid3"},                                    %% -----------表名.字段 逗号隔开     字符串
        {mysql_log_table, "user_log"},                                      %% -----------数据变化日志表
        {mysql_log_field, "id,value"}                                       %% -----------日志表.字段 逗号隔开     字符串
        ]
    }
].
